#page
  - var scores = [1,2,3,4,5,6,7,8,9, 10]
  h1 十分感谢您参加 #{shareset.name} - #{shareset.subject} 的反馈
  ul#indicator
  form.feedback(method='post')
    .ks-switchable-content
      fieldset
        legend 对分享会的反馈
        .clearfix
          label 话题安排和栏目设置的满意度
            em(style='color:red') *
          .input
            table.ctl-score
              tr
                td.label.low 很不满意
                - each score in scores
                  td: input.opt10(type='radio',name='toShareset[rateSubject]',value=score)
                td.label.high 非常满意
        .clearfix
          label 整体满意度
            em(style='color:red') *
          .input
            table.ctl-score
              tr
                td.label.low 很不满意
                - each score in scores
                  td: input(type='radio',name='toShareset[rateGeneral]',value=score)
                td.label.high 非常满意
        .clearfix
          label 您对 #{shareset.name} 有什么其他建议？
          .input
            textarea(name='toShareset[review]')
      - each share in shareset.shares
        fieldset(style="display:none")
          legend 对 #{share.authors.join(',')} 分享的《#{share.title}》的反馈
          .clearfix
            label 话题与分享内容
              em(style='color:red') *
            .input
              table.ctl-score
                tr
                  td.label.low 很不满意
                  - each score in scores
                    td: input(type='radio',name='toShare[#{share._id}][rateTopic]',value=score)
                  td.label.high 非常满意
          .clearfix
            label 幻灯片及分享材料
              em(style='color:red') *
            .input
              table.ctl-score
                tr
                  td.label.low 很不满意
                  - each score in scores
                    td: input(type='radio',name='toShare[#{share._id}][rateSlider]',value=score)
                  td.label.high 非常满意
          .clearfix
            label 时间控制
              em(style='color:red') *
            .input
              table.ctl-score
                tr
                  td.label.low 很不满意
                  - each score in scores
                    td: input(type='radio',name='toShare[#{share._id}][rateTimeControl]',value=score)
                  td.label.high 非常满意
          .clearfix
            label 演讲技巧
              em(style='color:red') *
            .input
              table.ctl-score
                tr
                  td.label.low 很不满意
                  - each score in scores
                    td: input(type='radio',name='toShare[#{share._id}][rateSpeak]',value=score)
                  td.label.high 非常满意
          .clearfix
            label 您对 #{share.authors.join(',')} 有什么其他建议？
            .input
              textarea(name='toShare[#{share._id}][review]')
    ul.switchable-nav
    .actions
      button#submit-form(type='submit') 提交
      button#scroller-next(type='button') 下一步
