script
  KISSY.use('rate/app',function(S,App){
    App.nav('create');
  });
script#temp-tags(type='kissy/template')
  |<ul class='tags'>
  |  {{#each tags as tag}}
  |    <li><a class='tag' href='/list?tag={{tag}}'>{{tag}}</a></li>
  |  {{/each}}
  |</ul>
h1 创建
form(action='/create', method="post")
  - if('undefined' !== typeof error && error.length)
    .alert-message.block-message.warning
      a.close(href='#') ×
      ul.errors
        - each err in error
          li.error= err
  fieldset
    legend  创建分享
    .clearfix
      label(for="share.title") 分享标题：
      .input
        input.text#input_title(name="share.title",value=share.title)
    .clearfix
      label(for="share.authers") 分享者：
      .input
        input.text#input_user(name="share.authors",value=share.authors.join(' '))
    .clearfix
      label(for="share.tag") 标签(逗号或空格分格)
      .input
        input.text#input_tags(name="share.tags",value=share.tags.join(' '))
    .clearfix
      label(for='share.desc')
      .input
        textarea.xxlarge(name='share.desc')= share.desc
    .clearfix#tagfield
    .actions
      button.btn.primary(type="submit") 提交

script
  KISSY.use('rate/create')
