h3 我组织的分享会
- if (results.length)
  .setlist
    - each item in results
      .setitem-cal
        .hd
        .bd
          h3.title
            a(href="/shareset/#{item.postname}") #{item.subject}
          div.desc=item.desc
          dl.meta.hide
            dt 分享地点
            dd= item.position
          dl.meta.hide
            dt 日期
            dd #{moment(item.date).format('YYYY-MM-DD')} 
              | ( #{moment(item.date.getTime()).hours(item.startTime.split(':')[0]).minutes(item.startTime.split(':')[1]).fromNow()} )
            dt 时间
            dd #{item.startTime} - #{item.endTime}
        .ft
- else
  p results is empty
