script
  KISSY.use('rate/app',function(S,App){
    App.nav('home');
  });

script#temp-tags(type='kissy/template')
  |<ul class='tags'>
  |  {{#each tags as tag}}
  |    <li><a href='/share?tags={{tag}}'>{{tag}}</a></li>
  |  {{/each}}
  |</ul>

.row
  .span10
    div.box
      .hd
        h3 分享会
      .bd!= partial('partial/links')
    div#tags.box
      .hd
        h3 标签
      .bd
  .span6
    - if(!everyauth.loggedIn)
      form.form-stacked.login(action='/login', method="post")
        fieldset
          legend 登录
          .clearfix
            label(for=everyauth.password.loginFormFieldName) 用户名：
            .input
              input.text#input_login(type='text',name=everyauth.password.loginFormFieldName)
          .clearfix
            label(for=everyauth.password.passwordFormFieldName) 密码：
            .input
              input.text#input_password(type='password', name=everyauth.password.passwordFormFieldName)
          .actions
            button(type="submit", class='btn primary') 提交
            |  要组织分享, 先去
            a(href='/register') 注册一下
    .box
      .hd
        h3  常用链接
      .bd
        ul.links
          li
            a(href='https://is.taobao.org/meeting/')  会议室预定
script
  KISSY.use('rate/tags');
