h1 评分列表
#page
- if (result.length)
  ul.ratelist
    - result.forEach(function(item){
    li.rateitem
      p.title
        a(href="/show/#{item._id}") 分享题目： #{item.title}

      ul.meta
        li.author #{item.author}
        li.time #{item.date.getFullYear()}-#{item.date.getMonth()}-#{item.date.getDate()}

      ul.score
        li
          span.score-title 准备工作
          span.prog
            i(style="width:#{item.score[0]/0.05}%")
        li
          span.score-title 分享掌控
          span.prog
            i(style="width:#{item.score[1]/0.05}%")
        li
          span.score-title 分享内容
          span.prog
            i(style="width:#{item.score[2]/0.05}%")
        li
          span.score-title 整体印象
          span.prog
            i(style="width:#{item.score[3]/0.05}%")
    - })
- else
  p result is empty
