h1 All Rates
#page
- if (result.length)
  ul.ratelist
    - result.forEach(function(item){
    li.rateitem
      p.title
        a(href="/show/#{item._id}") 分享题目： #{item.title}

      ul.meta
        li.author #{item.author}
        li.time #{item.date.getFullYear()}-#{item.date.getMonth()}-#{item.date.getDate()}

      p.score=item.score
    - })
- else
  p result is empty
