h1
  分享: 《#{r_title}》
ul.tabs

  li.current
    a(href='/discuss/') 首页

  li
    a(href='/discuss/') 讨论

  li
    a(href='/discuss/') 幻灯片

  li
    a(href='/discuss/') 评分记录

.meta.ks-clear
  dl.author
    dt 分享者/
    dd=r_authors.join(",")
  .time
    dt 分享时间/
    dd #{r_dateSave.getFullYear()}-#{r_dateSave.getMonth()}-#{r_dateSave.getDate()}
- if(tags && tags.length)
  ul.tags.ks-clear
    -tags.forEach(function(tag){
      li
        a(href="/list/?tag=#{tag}")=tag
    -})
div.qrcode
  .bd#qrcode
  .ft
    手机扫描此条码直接打分

ul.actions
  li.big
    a#rate-btn.ratebtn(href="/rate/#{_id}") 开始打分
  li
    a#show_recocords(href="#") 显示评分记录
div.records#rate_records.ks-hidden
  table
    thead
      tr
        th.s 准备工作
        th.s 分享掌控
        th.s 分享内容
        th.s 整体印象
        th.ts 评分时间
    tbody
      - rates.forEach(function(item){
        tr
          td.s= item.rate1
          td.s= item.rate2
          td.s= item.rate3
          td.s= item.rate4
          td.ts #{item.tdate.getMonth()}/#{item.tdate.getDate()} #{item.tdate.getHours()}:#{item.tdate.getMinutes()}
      -})
  a(href="/getRate/#{_id}") 获取文件

div.disqus-box
  div#disqus_thread
  script
    var disqus_shortname="firebird";
    var disqus_identifier = "{app_pre}rate_#{_id}";
    var disqus_developer = 1;
    (function(){
      var dsq = document.createElement('script');
      dsq.type="text/javascript";
      dsq.async = true;
      dsq.src = "http://"+disqus_shortname + '.disqus.com/embed.js';
      document.getElementsByTagName("head")[0].appendChild(dsq);
    })()
script
  KISSY.one("#show_recocords").on("click",function(ev){
    ev.preventDefault();
    KISSY.one("#rate_records").toggleClass("ks-hidden");
  });
  KISSY.use('rate/app', function(S,APP){
      APP.getQRCode('#qrcode', S.one('#rate-btn')[0].href);
  });
