script
  KISSY.use('rate/app',function(S,App){
    App.nav('list');
  });
.navback
  - if(share.shareset)
    a(href='/shareset/#{share.shareset}') 返回到分享会
  - else
    a(href='/list/') 所有分享
h1 #{share.authors.join(',')}: #{share.title}
#tabs1
  ul.tabs.ks-switchable-nav
    li.active
      a(href='#detail') 首页
    li
      a(href='#record') 评分记录

  .ks-switchable-content
    div.row
      .span10
        - if(share.slider.slideshare)
          div.slideshare
            div.slideshare(style="width:580",id="__ss_#{share.slider.slideshare}")
              iframe(src="http://www.slideshare.net/slideshow/embed_code/#{share.slider.slideshare}",width="580",height="482",frameborder="0",marginwidth="0",marginheight="0",scrolling="no")
        - else
          div.slideshare
            form.addslider#sliderform(method='post',action='/edit/slider/'+share._id)
              fieldset
                legend  添加幻灯片
                .clearfix#type-slidershare
                  label(for='d-slidershare') SlideShare Code
                  .input
                    textarea#d-slidershare.span5(name='slideshare')
                .clearfix#type-url
                  label(for='slider') 网址
                  .input
                    input.span6(name='data.url')
                .clearfix#type-url
                  label(for='slider') 幻灯片上传
                  .input
                    input.span5(type='file',name='data.file')
                .actions
                  input.btn.primary(type='submit')
            script
              KISSY.user('rate/slider-edit');
        dl.desc
          dt 简介
          dd.editable(data-key='desc',data-type='textarea')=share.desc
        div.disqus-box
          div#disqus_thread
          script
            var disqus_shortname="firebird";
            var disqus_identifier = "rate_#{share._id}";
            var disqus_developer = 1;
            (function(){
              var dsq = document.createElement('script');
              dsq.type="text/javascript";
              dsq.async = true;
              dsq.src = "http://"+disqus_shortname + '.disqus.com/embed.js';
              document.getElementsByTagName("head")[0].appendChild(dsq);
            })()
      .span6
        .meta
          h3 分享信息
          dl.author
            dt 分享者
            dd= share.authors.join(",")

          dl.time
            dt 创建时间
            dd #{share.ts_save.getFullYear()}-#{share.ts_save.getMonth()}-#{share.ts_save.getDate()}

          dl
            dt 分享地点
            dd.editable(data-key='place')= share.place || '无'
          dl
            dt 分享时间
            dd 2011-20-20 17:00 - 17:30
        - if(share.tags && share.tags.length);
          .ftags
            h3 Tags
            ul.tags
              -share.tags.forEach(function(tag){
                li
                  a(href="/list/?tags=#{tag}")=tag
              -})

        .action
          p 手机扫描此条码直接打分
          a.btn.primary.ratebtn(href="/rate/#{share._id}") 开始打分


    div.records#rate_records(style='display:none')

      //table
        thead
          tr
            th.s 准备工作
            th.s 分享掌控
            th.s 分享内容
            th.s 整体印象
            th.ts 评分时间
        tbody
      a(href="/getRate/#{share._id}") 获取文件

script(src='/js/switchable-min.js');
script
  KISSY.use('rate/app,rate/inplace', function(S,APP){
      //APP.getQRCode('#qrcode', S.one('#rate-btn')[0].href);
  });
  KISSY.use('switchable', function(S){
    new S.Tabs('#tabs1', {
      triggerType : 'click',
      activeTriggerCls : 'active'
    });
  });
