h1= r_title
p.author author: #{r_author}
p.time
  span.year= r_dateSave.getFullYear()
  -
  span.mouse= r_dateSave.getMonth()
  -
  span.date= r_dateSave.getDate()
div.actions
  ul
    li
      a(href="rate/#{_id}") 打分
