h1= r_title
ul.meta
  li.author #{r_author}
  li.time #{r_dateSave.getFullYear()}-#{r_dateSave.getMonth()}-#{r_dateSave.getDate()}

ul.actions
  li.big
    a.ratebtn(href="/rate/#{_id}") 开始打分
div.records
  table
    thead
      tr
        th.s 准备工作
        th.s 分享掌控
        th.s 分享内容
        th.s 整体印象
        th.ts 评分时间
    tbody
      - rates.forEach(function(item){
        tr
          td.s= item.rate1
          td.s= item.rate2
          td.s= item.rate3
          td.s= item.rate4
          td.ts #{item.tdate.getMonth()}/#{item.tdate.getDate()} #{item.tdate.getHours()}:#{item.tdate.getMinutes()}
      -})
  a(href="/getRate/#{_id}") 获取文件
