h1
  分享: 《#{doc.title}》
#tabs1
  ul.tabs.ks-switchable-nav
    li.ks-active
      a(href='#detail') 首页
    li
      a(href='#discuss') 讨论
    li
      a(href='#slidshare') 幻灯片
    li
      a(href='#record') 评分记录

  .ks-switchable-content
    div
      .meta.ks-clear
        dl.author
          dt 分享者/
          dd= doc.authors.join(",")
        dl.time
          dt 分享时间/
          dd #{doc.ts_save.getFullYear()}-#{doc.ts_save.getMonth()}-#{doc.ts_save.getDate()}
        dl.desc
          dt 简介
          dd=doc.desc

      - if(doc.tags && doc.tags.length)
        ul.tags.ks-clear
          -doc.tags.forEach(function(tag){
            li
              a(href="/list/?tag=#{tag}")=tag
          -})
      div.qrcode
        .bd#qrcode
        .ft
          手机扫描此条码直接打分

      ul.actions
        li.big
          a#rate-btn.ratebtn(href="/rate/#{doc._id}") 开始打分

    div.disqus-box.ks-hidden
      div#disqus_thread
      script
        var disqus_shortname="firebird";
        var disqus_identifier = "{app_pre}rate_#{doc._id}";
        var disqus_developer = 1;
        (function(){
          var dsq = document.createElement('script');
          dsq.type="text/javascript";
          dsq.async = true;
          dsq.src = "http://"+disqus_shortname + '.disqus.com/embed.js';
          document.getElementsByTagName("head")[0].appendChild(dsq);
        })()
    div.slideshare.ks-hidden
      | <div style="width:425px" id="__ss_9249498"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/stevenvanbelleghem/social-media-around-the-world-2011" title="Social media around the world 2011" target="_blank">Social media around the world 2011</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/9249498" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> View more presentations from <a href="http://www.slideshare.net/stevenvanbelleghem" target="_blank">steven van belleghem</a> </div> </div>
    div.records#rate_records.ks-hidden
      table
        thead
          tr
            th.s 准备工作
            th.s 分享掌控
            th.s 分享内容
            th.s 整体印象
            th.ts 评分时间
        tbody
          - rates.forEach(function(item){
            tr
              td.s= item.rate1
              td.s= item.rate2
              td.s= item.rate3
              td.s= item.rate4
              td.ts #{item.tdate.getMonth()}/#{item.tdate.getDate()} #{item.tdate.getHours()}:#{item.tdate.getMinutes()}
          -})
      a(href="/getRate/#{doc._id}") 获取文件

script(src='/js/switchable-min.js');
script
  KISSY.use('rate/app', function(S,APP){
      APP.getQRCode('#qrcode', S.one('#rate-btn')[0].href);
  });
  KISSY.use('switchable', function(S){
    new S.Tabs('#tabs1', {
      triggerType : 'click'
    });
  });
