script#temp-tags(type='kissy/template')
  |<ul class='tags'>
  |  {{#each tags as tag}}
  |    <li><a class='tag' title='点击添加标签' href='/list?tag={{tag}}'>{{tag}}</a></li>
  |  {{/each}}
  |</ul>
script#temp-errors(type='text/template')
  |{{#each errors as err}}
  |<div class='alert-message warning'>
  |<p>{{err.type}}</p>
  |</div>
  |{{/each}}

form.well.form-horizontal.ajax-form(action=isNew?'/share/':'/share/#{share._id}', method=isNew?"post":"put")
  input(name='shareset',value=shareset, type='hidden')
  .error-holder
  fieldset
    legend= title
    .control-group
      label.control-label(for="title") 分享标题*
      .controls
        input.text#input_title(name="title",value=share.title)
        span.help-inline

    .control-group
      label.control-label(for="authers") 分享者*
      - each author in share.authors
        .controls
          input.span2(name="authors",value=author)
          span.help-inline
    .control-group
      label.control-label(for="tags", title='(逗号或空格分开)') 标签
      .controls
        input.xxlarge#tags(name="tags",value=share.tags.join(', '))
        span.help-inline 可以用逗号, 或空格分格
        .tags#tagfield
    .control-group
      label.control-label(for='desc') 介绍
      .controls
        textarea.xxlarge(name='desc',row='3')= share.desc
        span.help-inline
    .form-actions
      button.btn.primary(type="submit")= isNew?"添加分享":"修改"
      &nbsp;
      a.btn(href=shareset?'/shareset/#{shareset}':'/share/#{share._id}') 返回

script
  KISSY.use('rate/create,rate/ajax')
