script
  KISSY.use('rate/app',function(S,App){
    App.nav('list#{type}');
  });
- if (query.author)
  h1
    #{query.author} 的分享
  p
    a(href="/list") 所有分享
- else if(query.tags)
  h1
    标签为 #{query.tags} 的分享
  p
    a(href="/explorer") 所有标签
- else
  h1 所有分享

#page
  - if (shares.length)
    ul.ratelist
      - each share in shares
        li.rateitem
          h3.title
            a(href="/share/#{share._id}") #{share.authors.join(', ')}: #{share.title}
          .desc=share.desc
  - else
    p results is empty
