script#template-uploader(type='text/template').
  <iframe src="about:blank" name="uploadIfm" width="0" height="0" border="0" scrolling="0" style="display:none;"></iframe>
  <form action="/uploadmgr" method="post" target="uploadIfm" enctype="multipart/form-data">
    <div class="clearfix">
      <label for="fileupload">选择文件</label>
      <div class="input">
        <input id="fileupload" type="file" name="uploader" multiple="multiple" class="input-file">
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="btn primary">上传</button>
      <a class='close-ov' href='#'>取消</a>
    </div>
  </form>
.navback
  - if(share.shareset)
    a(href='/shareset/#{shareset.postname}') &#171; 分享会
  - else
    a(href='/list/') 所有分享
.row
  .span12
    h1 #{share.title}
    .meta-box
      | by:
      span= share.authors.join(',')
      &nbsp;
      span.date=moment(share.ts).format('MMM Do YYYY')
      &nbsp;
      &nbsp;
      span.likes= share.like
      &nbsp;
      a.ajax-btn(href='#',data-type='get',title='喜欢',data-url='/share/#{share._id}/like') like
      &nbsp;
      &nbsp;
      span.viewCount #{share.viewCount} views
    .share-content.content-editor
      .bd.content-bd!= share.contentHTML
      .editor(style='display:none;')
        form.editor-form(method='post',data-url='/share/' + share._id + '/content',action=)
          h3 MD编辑器
          .toolbar
            a.toggle-tips(href='#') 显示语法提示
            &nbsp;
            a.show-uploader(href='#') 上传文件
          pre.tips-block(style='display:none;')
            | # MarkDown编辑器
            | 支持 markdown 语法
            | ## 标题

            | 链接:
            |   [text](/path/to/link) 链接

            | 图片:
            |   ![alt text](/path/to/image.jpg "Optional title")  图片

            | 行内代码:
            |   ``var I = me``

            | 代码块:
            |   行前有四个缩进

          textarea.span12(name='content',style='height:300px')= share.content
          br
          br
          button(type='submit').btn.primary 确定
          | &nbsp;
          a.edit(href='#') 取消
      .ft
        a.icon.icon-edit.edit(href='edit') 编辑详情
    .disqus-box.mt20
      #disqus_thread
      script
        var disqus_shortname="firebird";
        var disqus_identifier = "rate_#{share._id}";
        var disqus_developer = 1;
        (function(){
          var dsq = document.createElement('script');
          dsq.type="text/javascript";
          dsq.async = true;
          dsq.src = "http://"+disqus_shortname + '.disqus.com/embed.js';
          document.getElementsByTagName("head")[0].appendChild(dsq);
        })()
  .span4
    .cover-box
      img(width='195',height='195',src=share.cover)
      .action
        a(href='/share/#{share._id}/upload-cover') 更改封面
    .action
      a(href='/share/#{share._id}/edit') 编辑分享信息
    - if(share.tags && share.tags.length);
      .tags
        h3 此分享的标签
        ul.tags
          -share.tags.forEach(function(tag){
            li
              a(href="/explore#tags/#{tag}")= tag
          -})

script
  KISSY.use('rate/app,rate/ajax,rate/share');
