.navback
  - if(share.shareset)
    a(href='/shareset/#{shareset.postname}') 返回到分享会
  - else
    a(href='/list/') 所有分享
h1 #{share.authors.join(',')}: #{share.title}
.row
  .span12
    .share-content.content-editor
      .hd 分享详情
      .bd!= share.contentHTML
      .editor(style='display:none;')
        form(method='post',action='/share/' + share._id + '/content')
          h3  编辑
          p 支持 markdown 语法编辑
            a.toggle-tips(href='#') 显示语法提示
          pre.tips-block(style='display:none;')
            | 标题：
            |   #Text
            |   ##Text
            |   ...
            | 链接:
            |   [text](/path/to/link) 链接
            | 图片:
            |   ![alt text](/path/to/image.jpg "Optional title")  图片
            | 行内代码:
            |   ``var I = me``
            | 代码块:
            |   行前有四个缩进
          textarea.span12(name='content',style='height:300px')= share.content
          br
          br
          button(type='submit').btn.primary 确定
          | &nbsp;
          a.edit(href='#') 取消
      .ft
        a.edit(href='edit') 编辑
    .disqus-box.mt20
      #disqus_thread
      script
        var disqus_shortname="firebird";
        var disqus_identifier = "rate_#{share._id}";
        var disqus_developer = 1;
        (function(){
          var dsq = document.createElement('script');
          dsq.type="text/javascript";
          dsq.async = true;
          dsq.src = "http://"+disqus_shortname + '.disqus.com/embed.js';
          document.getElementsByTagName("head")[0].appendChild(dsq);
        })()
  .span4
    .cover-box
      img(width='195',height='195',src=share.cover)
      .action
        a(href='/share/#{share._id}/upload-cover') 更改封面

    dl.author
      dt 分享者
      dd= share.authors.join(",")

    .meta
      - if(share.shareset)
        dl
          dt 分享会
          dd
            a(href='/shareset/#{shareset.postname}')= shareset.subject
            span ( #{moment(shareset.date).format('MM-DD')} )

    .action
      p
        a.like.ajax-btn(href='#',data-type='get',title='喜欢',data-url='/share/#{share._id}/like')
          i ♥
          span #{share.like}
    - if(share.tags && share.tags.length);
      .ftags
        h3 此分享的标签
        ul.tags
          -share.tags.forEach(function(tag){
            li
              a(href="/share/?tags=#{tag}")=tag
          -})

script
  KISSY.use('rate/app,rate/ajax,rate/share');
