// 创建分享会
script#temp-errors(type='text/template')
  |{{#each errors as err}}
  |<div class='alert-message warning'>
  |<p>{{err.type}}</p>
  |</div>
  |{{/each}}

form.well.form-horizontal.ajax-form(action=!isNew?'/shareset/#{shareset.postname}':'/shareset', method=!isNew?"put":"post")
  .error-holder
  fieldset
    legend= !isNew? "编辑" : "组织一次分享会"
    .control-group
      label.control-label(for="subject") 主题 *
      .controls
        input.text#subject(name="subject",value=shareset.subject)
        span.help-inline
    .control-group
      label.control-label(for="subject") 分享会名称 *
      .controls
        input.text#subject(name="name",value=shareset.name)
        span.help-inline
    .control-group
      label.control-label(for='postname') 个性url *
      .controls
        - if(!isNew)
          input.text#postname(type='text',disabled='disabled',value=shareset.postname)
          span.help-inline
        - else
          input.text#postname(type='text',name='postname',value=shareset.postname)
          span.help-inline
        p.help-block http://<script>document.write(location.hostname)</script>/shareset/<strong>your-shareset-name</strong> 创建后不可更改

    .control-group
      label.control-label(for="position") 分享地址 *
      .controls
        input.text#position(name="position",value=shareset.position)
        span.help-inline
        span.help-block
            a(href='https://is.taobao.org/meeting/',target='blank')  会议室预定
    .control-group
      label.control-label(for="date")  分享日期 *
      .controls
        input.text.ctl-date.span3#date(name="date",value=moment(shareset.date).format('YYYY-MM-DD'))
        span.help-inline

    .control-group
      label.control-label(for='time') 时间 *
      .controls
        - var startTime = ('startTime' in shareset)?shareset.startTime.split(':'):[]
        select.text.date-time.span1#time(name="startTimeH")
          - if(startTime.length > 1)
            option(value=startTime[0])= startTime[0]
          - else
            option(value='')
          option(value='08') 08
          option(value='09') 09
          option(value='10') 10
          option(value='11') 11
          option(value='12') 12
          option(value='13') 13
          option(value='14') 14
          option(value='15') 15
          option(value='16') 16
          option(value='17') 17
          option(value='18') 18
          option(value='19') 19
        &nbsp;
        select.text.date-time.span1(name="startTimeM")
          - if(startTime.length > 1)
            option(value=startTime[1])= startTime[1]
            option(value='00') 00
          - else
            option(value='00') 00
          option(value='30') 30

        &nbsp;
        |到
        &nbsp;
        - var endTime = shareset.endTime?shareset.endTime.split(':'):[]
        select.text.date-time.span1(name="endTimeH")
          - if(endTime.length > 1)
            option(value=endTime[0])= endTime[0]
          - else
            option(value='')
          option(value='08') 08
          option(value='09') 09
          option(value='10') 10
          option(value='11') 11
          option(value='12') 12
          option(value='13') 13
          option(value='14') 14
          option(value='15') 15
          option(value='16') 16
          option(value='17') 17
          option(value='18') 18
          option(value='19') 19
        &nbsp;
        select.text.date-time.span1(name="endTimeM")
          - if(endTime.length > 1)
            option(value=endTime[1])= endTime[1]
            option(value='00') 00
          - else
            option(value='00') 00
          option(value='30') 30
        span.help-inline
    .control-group
      label.control-label(for='category') 分类
      .controls
        select#category(name='category')
          option(value='') 选择类别
          option(value='前端') 前端
          option(value='设计') 交互-设计
          option(value='Java') Java
          option(value='运营') 运营
          option(value='产品') 产品
          option(value='其他') 其他

    .control-group
      label.control-label(for='desc') 简介
      .controls
        textarea(name='desc')= shareset.desc
        span.help-inline

    .form-actions
      button.btn.btn-primary(type="submit")= !isNew?"确认修改":"创建分享会";

script
    KISSY.use('rate/ajax,rate/calendar');
