// 分享会列表
script
  KISSY.use('rate/app',function(S,App){
    App.nav('setlist#{type}');
  });
script#temp-tags(type='kissy/template')
  |<ul class='tags'>
  |  {{#each tags as tag}}
  |    <li><a href='/share/?tags={{tag}}'>{{tag}}</a></li>
  |  {{/each}}
  |</ul>

#page
  .row
    .span11
      ul.pills
        li(class=!query.tab?"active":'')
          a(href='/shareset') 即将到来
        li(class=query.tab === 'all'?"active":'')
          a(href='/shareset?tab=all') 所有分享
        -if (everyauth.loggedIn)
          li(class=query.tab === 'my'?"active":'')
            a(href='/shareset?tab=my') 我创建的
      - if (results.length)
        .setlist
          - each item in results
            .setitem
              .hd
              .bd
                h3.title
                  a(href="/shareset/#{item.postname}") #{item.subject}
                div.desc=item.desc
                dl.meta
                  dt 分享地点
                  dd= item.position
                dl.meta
                  dt 开始时间
                  dd= dateFormat(item.startTime,'mm-dd HH:MM:ss dddd')
                  dt 结束时间
                  dd= dateFormat(item.endTime,'mm-dd HH:MM:ss dddd')
      - else
        p results is empty
    .span5
      .box
        .bd
          a.btn.primary(href='/shareset/new') 组织分享会
      .box#tags
        .hd
           h3 标签
        .bd
      .box#tags
        .hd
           h3 分享会
        .bd!= partial('partial/links')
script
  KISSY.use('rate/tags');
