// 分享会列表
#page
  .row
    .span11
      ul.pills
        li(class=!query.tab?"active":'')
          a(href='/shareset') 即将到来
        li(class=query.tab === 'all'?"active":'')
          a(href='/shareset?tab=all') 所有分享
        -if (everyauth.loggedIn)
          li(class=query.tab === 'my'?"active":'')
            a(href='/shareset?tab=my') 我创建的
      - if (results.length)
        .setlist
          - each item in results
            .setitem
              .hd
              .bd
                h3.title
                  a(href="/shareset/#{item.postname}") #{item.subject}
                div.desc=item.desc
                dl.meta
                  dt 分享地点
                  dd= item.position
                dl.meta
                  dt 日期
                  dd #{moment(item.date).format('YYYY-MM-DD')} 
                    | ( #{moment(item.date.getTime()).hours(item.startTime.split(':')[0]).minutes(item.startTime.split(':')[1]).fromNow()} )
                  dt 时间
                  dd #{item.startTime} - #{item.endTime}
              .ft
      - else
        p results is empty
    .span5
      .box
        .bd
          a.btn.primary(href='/shareset/new') 组织分享会
      .box#tags
        .hd
           h3 标签
        .bd
      .box#tags
        .hd
           h3 分享会
        .bd!= partial('partial/links')
