// 分享会列表
script
  KISSY.use('rate/app',function(S,App){
    App.nav('setlist#{type}');
  });
h1 所有分享会

#page
  - if (results.length)
    .setlist
      - each item in results
        .setitem.row
          .span8
            h3.title
              a(href="/shareset/#{item._id}") #{item.subject}
            div.desc=item.desc
          .span4
            dl.meta
              dt 开始时间
              dd= dateFormat(item.startTime,'yyyy-mm-dd HH:MM:ss')
              dt 结束时间
              dd= dateFormat(item.endTime,'yyyy-mm-dd HH:MM:ss')
          .span4
            dl.meta
              dt 分享地点
              dd= item.position
  - else
    p results is empty
