- var share = shares[indexInCollection];
.share-list-item
  .cover
    a(href='/share/#{share._id}')
      img(src=share.cover)
  .cnt
    h3.title
      a(href='/share/#{share._id}') #{share.authors.join(', ')} : #{share.title}
    .meta
      span #{share.like}
      &nbsp;
      span likes
      &nbsp; and &nbsp;
      span= share.viewCount
      &nbsp;
      span views
    div.desc= share.desc
    .act
      span.author
      .btns
        a(href='/share/#{share._id}/edit?shareset=#{shareset.postname}') 编辑
        &nbsp;
        a(href='/share/#{share._id}/upload-cover') 上传封面
        &nbsp;
        a.ajax-btn(data-type='delete', data-url='/share/#{share._id}', href='/share/#{share._id}') 删除

