li.share-list-item
  - if(shares[indexInCollection].cover)
    .cover
      a(href='/share/#{shares[indexInCollection]._id}')
        img(src=shares[indexInCollection].cover)
  .cnt
    h3.title
      a(href='/share/#{shares[indexInCollection]._id}') #{shares[indexInCollection].authors.join(', ')} : #{shares[indexInCollection].title}
    .meta
      span.like
        i ♥
        span #{shares[indexInCollection].like}
    div.desc= shares[indexInCollection].desc
    .act
      span.author
      .btns
        a(href='/share/#{shares[indexInCollection]._id}/edit') 编辑
        &nbsp;
        a(href='/share/#{shares[indexInCollection]._id}/upload-cover') 上传封面
        &nbsp;
        a.ajax-btn(data-type='delete', data-url='/share/#{shares[indexInCollection]._id}', href='/share/#{shares[indexInCollection]._id}') 删除

