li.share-list-item
  - if(shares[indexInCollection].cover)
    .cover
      a(href='/share/#{shares[indexInCollection]._id}')
        img(src=shares[indexInCollection].cover)
  .cnt
    h3.title
      a(href='/share/#{shares[indexInCollection]._id}') #{shares[indexInCollection].authors.join(', ')} : #{shares[indexInCollection].title}
    .meta
      | #{shares[indexInCollection].like} 喜欢
      - if(shares[indexInCollection].slider.slideshare)
        i.icon-slider
          span 有幻灯片
      - if(shares[indexInCollection].slider.video )
        i.icon-video
          span 有视频
    div.desc= shares[indexInCollection].desc
    .act
      span.author
      - if(isOwner)
        .btns
          a(href='/share/#{shares[indexInCollection]._id}/edit') 编辑
          |  
          a.ajax-btn(data-type='delete', data-url='/share/#{shares[indexInCollection]._id}', href='/share/#{shares[indexInCollection]._id}') 删除
          |  
          a(href='/share/#{shares[indexInCollection]._id}/upload-cover') 上传封面

