script
  KISSY.use('rate/app',function(S,App){
    App.nav('setlist');
  });
.navback
  a(href='/shareset') 返回到分享会列表
h1 #{shareset.subject}
.row
  .span5
    .box-meta
      dl
        dt 日期
        dd= moment(shareset.startTime).format('YYYY-M-D')
        dt 分享时间
        dd.time= moment(shareset.startTime).format('HH:mm:ss') + " - " + moment(shareset.endTime).format('HH:mm:ss')
        dt 分享地点
        dd= shareset.position
    .box.box-desc
      .desc= shareset.desc
    .box
      - if(isOwner )
        .action
          a.btn.small(href='/shareset/#{shareset.postname}/edit')  编辑
          |  
          a.btn.small.ajax-btn(data-type='delete',href='/shareset/#{shareset.postname}')  删除
          |  
          a.primary.btn(href='/share/new?shareset=#{shareset.postname}')添加分享
  .span11
    - if (shares && shares.length)
      ul.ratelist!= partial('share-list', shares)
script
  KISSY.use('rate/ajax');
