- var isOwner = everyauth.loggedIn && everyauth.user._id.toString() == shareset.owner._id.toString()
.navback
  a(href='/calendar/#m/#{moment(shareset.date).format('YYYY-MM')}')  &#171; 分享会日历
h1 #{shareset.subject}
p.desc= shareset.desc
.row
  .shareset-detail
    .action
      a.btn.big(href='/shareset/#{shareset.postname}/ics') 日历
    p.datetime #{moment(shareset.date).format('YYYY 年 MM 月 DD 日')} #{shareset.startTime} - #{shareset.endTime}
    p.location  位于 <strong>#{shareset.position}<strong>
    p.owner 由 #{shareset.owner.name}  &lt;<a href='mailto:#{shareset.owner.email}'>#{shareset.owner.email}</a>&gt; 组织
  - if(isOwner)
    .shareset-action
      a.btn.small(href='/shareset/#{shareset.postname}/edit')  编辑
      &nbsp;
      a.btn.small.ajax-btn(data-type='delete',data-confirm='你确定要删除吗',href='/shareset/#{shareset.postname}')  删除
      &nbsp;
      a.primary.btn(href='/share/new?shareset=#{shareset.postname}')添加分享
.row
  .span16
    - if (shares && shares.length)
      ul.ratelist!= partial('share-list', shares)
.row
  .span16
    .disqus-box.mt20
      #disqus_thread
      script
        var disqus_shortname="firebird";
        var disqus_identifier = "shareset_#{developmod?'dev_':''}#{shareset.postname}";
        var disqus_developer = 1;
        (function(){
          var dsq = document.createElement('script');
          dsq.type="text/javascript";
          dsq.async = true;
          dsq.src = "http://"+disqus_shortname + '.disqus.com/embed.js';
          document.getElementsByTagName("head")[0].appendChild(dsq);
        })()
script
  KISSY.use('rate/ajax');
